@using DutyManager.ViewModel
@model IndexModel


<div class="scroll-table">
    <table class="table mt-2 mb-0">
        <thead class="table-info border">
            <tr>
                <th>День недели</th>
                <th>Начало</th>
                <th>Окончание</th>
                <th>Дежурный</th>
                <th>Телефон</th>
                <th>Логин</th>
            </tr>
        </thead>
    </table>
    <div class="table border mt-0 scroll-table-body">
        <table class="table table-striped">
            <tbody class="">
                @foreach (var item in Model.Data)
                {
                    <tr>
                        <td>@item.DayOfWeekName</td>
                        <td>@item.DateStart.ToShortDateString() @item.DateStart.ToShortTimeString()</td>
                        <td>@item.DateFinish.ToShortDateString() @item.DateFinish.ToShortTimeString()</td>
                        <td>@item.FullName</td>
                        <td>@item.Phone</td>
                        <td>@item.LoginName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
        $(document).ready(function () {
            $('#navbarIndex').addClass('active');
        });  
</script>